:root {
  --theme-color: 258 29% 43%;
}

h2 {
  line-height: 1.125;
  font-size: 1.25rem;
  font-weight: 600;
}

.toggle {
  position: fixed;
  top: 0;
  left: 0;
}

.the-form {
  --offset: -7rem;
  display: grid;
  grid: auto-flow auto / minmax(1rem, 1fr) minmax(0, 50ch) minmax(0, 50ch) minmax(
      1rem,
      1fr
    );
  gap: 0 2rem;
}

.the-form > * {
  grid-column: var(--columns, 2 / 2);
}

header:is(.the-form > *) {
  --columns: 1 / -1;
  display: grid;
  place-content: end center;
  gap: 1rem;
  grid-column: 1 / -1;
  color: #fff;
  text-align: center;
  block-size: 40vh;
  background: linear-gradient(hsl(260 50% 20% / 80%), hsl(260 50% 20% / 80%)),
    url(videogame.webp) 50% / cover;
  padding-block: 1rem calc(var(--offset) * -1 + 10px);
  padding-inline: 1rem;
  /* --mask: radial-gradient(
      farthest-side at 50% 0,
      #000 calc(100% - 2px),
      transparent 100%
    )
    50% 0% / 200% 100% no-repeat;
  -webkit-mask: var(--mask);
  mask: var(--mask); */
  clip-path: ellipse(100% 100% at 50% 0%);
}

header h1 {
  position: relative;
  font-family: "Press Start 2P", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.125;
  background: linear-gradient(45deg, #5000ca, 50%, #fb28a8);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fffa;
  -webkit-background-clip: text;
}

header p {
  justify-self: center;
}

form {
  --form-bg: #fff;
  position: relative;
  margin-block: var(--offset) 2rem;
  padding: 1rem;
  background: var(--form-bg);
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

form > * + * {
  margin-block-start: 1.5rem;
}

.form-group {
  display: grid;
  gap: 5px;
}

.inline {
  justify-content: start;
}

.inline label {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  padding-block: 0.5rem;
  padding-inline: 0.4rem 0.7rem;
  margin-inline-start: -0.4rem;
  border-radius: 10px;
}

.inline:focus-within label,
.inline label:is(:hover, :focus) {
  background: hsl(var(--theme-color) / 10%);
  box-shadow: inset 0 0 0 1px hsl(var(--theme-color) / 20%);
}

label {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1;
  cursor: pointer;
}

.form-group:focus-within :is(label, .hint) {
  color: hsl(var(--theme-color));
}

input:not([type="range"]) {
  -webkit-appearance: none;
  appearance: none;
}

input:is([type="text"], [type="number"], [type="date"]),
textarea {
  color: #212121;
  border: 1px solid #21212133;
  background: #f5f5f5;
  padding-block: 8px 10px;
  padding-inline: 12px;
  border-radius: 4px;
  outline: none;
  caret-color: hsl(var(--theme-color));
  resize: none;
  transition: 0.1s background;
}

:is(input:is([type="text"], [type="number"], [type="date"]), textarea):focus {
  background: transparent;
  outline: none;
}

textarea {
  min-block-size: 7rem;
  font-size: 1rem;
  font-weight: 400;
}

input:is([name="age_limit"], [name="price"], [name="metascore"]) {
  inline-size: 8ch;
}

:is(input, textarea):focus {
  border-color: hsl(var(--theme-color));
}

/* Checkbox & Radio btns */
input:is([type="checkbox"], [type="radio"]) {
  block-size: 1.2rem;
  inline-size: 1.2rem;
  margin: 0;
  border-radius: 4px;
  display: grid;
  outline: none;
  transition: 0.1s;
  will-change: background, box-shadow;
}

input[type="radio"] {
  border-radius: 50%;
  box-shadow: inset 0 0 0 0 hsl(var(--theme-color));
}

input[type="radio"]:checked {
  box-shadow: inset 0 0 0 0.25em hsl(var(--theme-color));
}

input[type="checkbox"] {
  display: grid;
}
input[type="checkbox"]::after {
  content: "";
  block-size: 0.45em;
  inline-size: 0.8em;
  border: solid #fff;
  border-width: 0 0 3px 3px;
  place-self: center;
  transform: translateY(-0.05em) rotate(-45deg);
  transition: 0.1s;
  opacity: 0;
}
input[type="checkbox"]:checked {
  background: currentColor;
  border-color: currentColor;
  color: hsl(var(--theme-color));
}
input[type="checkbox"]:checked::after {
  opacity: 1;
}

/* Hint */
.hint {
  color: #585858;
  line-height: 1.25;
  transition: 0.1s;
}

fieldset {
  margin-inline: 0;
  text-align: start;
  padding: 1rem;
  border: 1px dashed hsl(var(--theme-color));
  border-radius: 4px;
}

fieldset:focus-within {
  border-style: solid;
}
fieldset:focus-within :is(legend, .hint) {
  color: hsl(var(--theme-color));
}

legend {
  padding: 0;
  font-weight: 600;
  padding-inline: 0.5rem;
  margin: 0;
  background: var(--form-bg);
  margin-block-end: -0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.08rem;
  color: hsl(var(--theme-color));
}

legend + .hint {
  margin-block-end: 1rem;
}

legend + .form-group {
  margin-block-start: 1rem;
}

.controls {
  display: grid;
  gap: 3px;
  grid-row: span 3;
}

.controls label {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1em;
  font-weight: 600;
  padding-block: 0.5rem;
  padding-inline: 0.4rem 0.7rem;
  margin-inline-start: -0.4rem;
  border-radius: 10px;
}

.controls li:focus-within label,
.controls label:is(:hover, :focus) {
  background: hsl(var(--theme-color) / 10%);
  box-shadow: inset 0 0 0 1px hsl(var(--theme-color) / 20%);
}

.input-group {
  display: inline-grid;
  justify-self: start;
}

.input-group > * {
  grid-row: 1;
}

.input-group span {
  place-self: stretch end;
  font-weight: 700;
  color: #212121;
  border: 1px solid #21212133;
  background: hsl(0deg 0% 90%);
  padding-block: 8px 10px;
  padding-inline: 12px;
  margin-inline-start: -4px;
  border-radius: 0 4px 4px 0;
}

.input-group input:focus + span {
  background: hsl(var(--theme-color));
  color: #fff;
}

.btn {
  color: #212121;
  border: 1px solid #21212133;
  background: hsl(var(--theme-color));
  font-weight: 600;
  color: #fff;
  padding-block: 8px 10px;
  padding-inline: 12px;
  border-radius: 4px;
}

.range-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.range-wrap input {
  flex: 1;
}

.range-wrap output {
  font-weight: 700;
  min-inline-size: 3rem;
}

output::after {
  content: "%";
}

/* Alt styling */
.alt .the-form {
  display: grid;
  grid: auto-flow auto / minmax(1rem, 1fr) minmax(0, 50ch) minmax(0, 50ch) minmax(
      1rem,
      1fr
    );
}

.alt :is(.form-group:not(.inline, .range), fieldset) {
  display: grid;
  grid: auto auto / auto-flow 1fr;
  grid-template-columns: 0.75fr;
}

@media (max-width: 40rem) {
  .alt :is(.form-group:not(.inline, .range), fieldset) {
    grid-template-columns: 7rem;
  }
  input:not([type="radio"], [type="checkbox"], [type="date"]) {
    inline-size: 100%;
  }
}

.alt .hint {
  font-size: 0.9rem;
}

.alt fieldset {
  padding: 0;
  /* border: 0; */
  border-color: transparent;
  padding: 0.5rem;
  margin-inline: -0.5rem;
  gap: 0 1rem;
}

.alt fieldset:focus-within {
  border-color: hsl(var(--theme-color));
}

.alt
  input:is([type="text"], [type="number"], [type="date"]):not(.input-group > *),
.alt :is(textarea, .input-group) {
  grid-row: span 3;
  align-self: start;
}

.alt legend {
  padding: 0;
  margin-block-end: 0;
  text-transform: revert;
  font-size: 1.125rem;
  font-weight: 700;
  background: transparent;
  letter-spacing: revert;
  color: inherit;
  float: left;
}

.the-form > form {
  --columns: 2;
}

.the-form > .games {
  --columns: 3;
  position: relative;
  margin-block: var(--offset) 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  align-content: start;
}

.game {
  padding: 1rem;
  background: #fff;
  color: #2b2b2b;
  font-weight: 600;
  box-shadow: 0 12px 28px 0 rgb(0 0 0 / 20%), 0 2px 4px 0 rgb(0 0 0 / 10%),
    inset 0 0 0 1px rgb(255 255 255 / 50%);
  border-radius: 10px;
  overflow: hidden;
}

.release-date {
  color: #585858;
  line-height: 1.25;
  font-size: 0.8rem;
}

.meta {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  background: hsl(264deg 30% 97%);
  margin: 1rem -1rem -1rem;
}

.metascore {
  color: #2b2b2b;
  border: 2px solid hsl(calc(var(--metascore)), 90%, 50%);
  border-radius: 4px;
  padding: 0.25rem 0.35rem;
  background: hsl(calc(var(--metascore)), 100%, 90%);
}

.age_limit {
  border: 2px solid #5000ca22;
  padding: 0.1rem 0.25rem;
  color: #5000ca;
}

@media (max-width: 40rem) {
  .alt .the-form,
  .the-form {
    --offset: -3rem;
    grid: auto-flow auto / minmax(1rem, 1fr) minmax(0, 50ch) minmax(1rem, 1fr);
    gap: 0;
  }
  .the-form > form {
    --columns: 2;
  }

  .the-form > .games {
    --columns: 2;
    --offset: 0;
  }
}

html {
  block-size: 100%;
}

body {
  min-block-size: 100%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif;
  background: hsl(240 0% 95%);
}

input:-webkit-autofill {
  transition: 5000s background 0s !important;
}
